.root {
    -fx-base: rgba(255, 255, 255, 255); // dark
}

.text-field: disabled {
    -fx-background-color: white;
    -fx-text-fill: darkblue;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #E1E1E1, white;
    -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: white;
    -fx-background-insets: 0 0 1px 0;
    -fx-padding: 1.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
    -fx-font-weight: regular;
    /*-fx-text-fill: #63B5F6;*/
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    /*-fx-background-color: #2092ED, lightgrey;*/
    -fx-background-color: orange, white;
    -fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    /*-fx-text-fill: #2095F3;*/
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
    -fx-opacity: 0;
}

/*table view columns*/
/**.filler,.column-header,.show-hide-columns-button {
    -fx-background-color: #dddddd, white, white;
}
.show-hide-columns-button {
    -fx-border-width: 0;
    -fx-background-insets: 0 0 1 1;
}
.column-header:hover,.show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
}
.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}
.column-drag-header {
    -fx-background-color: #2fb254;
}*/

/*split pane*/
.split-pane > .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: #eeeeee;
    -fx-pref-width: 8;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-border-width: 0 1 0 1;
}
/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-border-width: 1 0 1 0;
}
.split-pane > .split-pane-divider:hover {
    -fx-background-color: #E0E0E0;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.check-box > .box {
    -fx-background-radius: 3;
    /*-fx-padding: 0.166667em 0.166667em 0.25em 0.25em; !* 2 2 3 3 *!*/
    -fx-padding:0;
    -fx-border-color: #56c0e0;
    -fx-border-radius: 3;
    -fx-background-color: white;
}
.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    -fx-shape: "M927.936 272.992l-68.288-68.288c-12.608-12.576-32.96-12.576-45.536 0l-409.44 409.44-194.752-196.16c-12.576-12.576-32.928-12.576-45.536 0l-68.288 68.288c-12.576 12.608-12.576 32.96 0 45.536l285.568 287.488c12.576 12.576 32.96 12.576 45.536 0l500.736-500.768c12.576-12.544 12.576-32.96 0-45.536z";
    -fx-background-insets: -3 -3 1 0;
}
.check-box {
    -fx-label-padding: 0.2em 0.0em 0.3em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
    -fx-padding: 0 0 2 0;
}
.check-box:indeterminate > .box {
    -fx-padding: 0;
}
.check-box:selected > .box > .mark {
    -fx-background-color: linear-gradient(to bottom, #56c0e0, #40b8dc);
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-label-padding: 0.0em 0.0em 0.1em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
    -fx-padding: 0 0 .5 0;
}
.radio-button > .radio,
.radio-button:focused > .radio  {
    -fx-border-color: #56c0e0;
    -fx-border-radius: 1em;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 1 2 3 2;
    -fx-background-color: white;
}
.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.333333em; /* 4 -- radius of the inner black dot when selected */
    -fx-background-insets: 3 2 1 2;
}
.radio-button:selected > .radio,.radio-button:hover > .radio {
    -fx-fill-color: #56c0e0;
}
.radio-button:pressed > .radio {
    -fx-background-color: #50c0e2;
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: #56c0e0;
}

/*common things*/
.check-box:hover > .box,
.check-box:selected > .box,
.radio-button:hover > .radio,
.radio-button:selected > .radio {
    -fx-background-color: linear-gradient(to bottom, white, #efefef);
}

.check-box:pressed > .box,
.radio-button:pressed > .radio {
    -fx-background-color: #50c0e2;
}


/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider .thumb {
    -fx-background-color: #dad9da, white, #3fbadf;
    -fx-background-insets: 0, 1, 5;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.2), 5, 0.0 , 0, 0);
}
.slider .thumb:hover {
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.4), 5, 0.0 , 0, 0);
}
.slider .track {
    -fx-background-color: #dad9da, white;
    -fx-background-insets: -1, 0, 1;
    -fx-pref-height: 5;
}
.slider:vertical .track {
    -fx-pref-width: 5;
}
